# Pandas:  Series

In [1]:
import pandas as pd

In [2]:
print(pd.__version__)

1.4.2

In [3]:
a = pd.Series([2,3,4,5],index=['a','b','c','d'])

In [4]:
print(a.values)

[2 3 4 5]

In [5]:
print(type(a.values))

<class 'numpy.ndarray'>

In [6]:
print(type(a))

<class 'pandas.core.series.Series'>

In [7]:
print(a.index)

Index(['a', 'b', 'c', 'd'], dtype='object')

In [8]:
print(a['a'])

2

In [9]:
print(a['a':'c']) # Here the index 'c' will be included

a    2
b    3
c    4
dtype: int64

In [10]:
grades_dict = {'A':4, 'B':3.5, 'C':3, 'D':2.5}
grades = pd.Series(grades_dict)
print(grades.values)
print(grades.index)

[4.  3.5 3.  2.5]
Index(['A', 'B', 'C', 'D'], dtype='object')

In [11]:
marks_dict = {'A':85, 'B':75, 'C':65, 'D':55}
marks = pd.Series(marks_dict)
print(marks)

A    85
B    75
C    65
D    55
dtype: int64

In [12]:
print(marks[0:2])

A    85
B    75
dtype: int64

# Pandas: DataFrame

In [13]:
d = pd.DataFrame({'Marks':marks, 'Grades':grades})
print(d)

   Marks  Grades
A     85     4.0
B     75     3.5
C     65     3.0
D     55     2.5

In [14]:
print(d.T)

           A     B     C     D
Marks   85.0  75.0  65.0  55.0
Grades   4.0   3.5   3.0   2.5

In [15]:
print(d.values)

[[85.   4. ]
 [75.   3.5]
 [65.   3. ]
 [55.   2.5]]

In [16]:
print(d.values[2,0])

65.0

In [17]:
print(d.columns)

Index(['Marks', 'Grades'], dtype='object')

In [18]:
print(d.columns[1])

Grades

In [19]:
d['ScaledMarks'] = 100*(d['Marks']/90)
print(d)

   Marks  Grades  ScaledMarks
A     85     4.0    94.444444
B     75     3.5    83.333333
C     65     3.0    72.222222
D     55     2.5    61.111111

In [20]:
del d['ScaledMarks']
print(d)

   Marks  Grades
A     85     4.0
B     75     3.5
C     65     3.0
D     55     2.5

In [21]:
g = d[d['Marks']>70]
print(g)

   Marks  Grades
A     85     4.0
B     75     3.5

# Pandas: NaN

In [22]:
a = pd.DataFrame([{'a':1, 'b':4}, {'b':-3, 'c':9}])
print(a)
print(a.columns)
print(a.index)

     a  b    c
0  1.0  4  NaN
1  NaN -3  9.0
Index(['a', 'b', 'c'], dtype='object')
RangeIndex(start=0, stop=2, step=1)

In [23]:
print(a.fillna(0))

     a  b    c
0  1.0  4  0.0
1  0.0 -3  9.0

In [24]:
print(a.dropna())

Empty DataFrame
Columns: [a, b, c]
Index: []

# Pandas: Indexing

In [25]:
a = pd.Series(['a','b','c'],index=[1,3,5])
print(a[1])
print(a[1:3])

a
3    b
5    c
dtype: object

In [26]:
print(a.loc[1:3]) #Explicit indexes (defined by us)

1    a
3    b
dtype: object

In [27]:
print(a.iloc[1:3]) #Implicit indexes (element wise)

3    b
5    c
dtype: object

In [28]:
print(d)

   Marks  Grades
A     85     4.0
B     75     3.5
C     65     3.0
D     55     2.5

In [29]:
print(d.iloc[2,:])

Marks     65.0
Grades     3.0
Name: C, dtype: float64

In [30]:
print(d.iloc[::-1,:])

   Marks  Grades
D     55     2.5
C     65     3.0
B     75     3.5
A     85     4.0

In [32]:
print(d['Marks'])

A    85
B    75
C    65
D    55
Name: Marks, dtype: int64